.primeiro__botao {
    background-color: var(--cor-azul);
    color: var(--cor-branco);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    font-family: var(--font-Raleway);
    
    transition: .3s all;
    padding: 16px;
    border: none;
}

.link__botao {
    color: var(--cor-branco);
    text-decoration: none;
    
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    padding: 16px;
    background-color: var(--cor-azul);
}

.primeiro__botao:hover {
    background-color: var(--cor-azul-claro);
}

.primeiro__botao:active {
    background-color: var(--cor-azul-escuro);
}

@media (max-width: 768px) {
    .primeiro__botao {
        font-size: 14px;
    }

    .link__botao {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .primeiro__botao {
        font-size: 14px;
        padding: 12px;
    }
}

@media (max-width: 360px) {
    .link__botao {
        margin-top: 10px;
        padding: 14px;
    }
}